.menu-item {
    width: 320px;    
    margin: 0 auto;

    &__title {
        position: relative;
        margin: 0;
        padding-top: 5px;
        margin-bottom: 35px;
        min-height: 44px;
        color: #32505a;
        font-size: 44px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 28.43px;
        text-align: center;
        
    }
    &__title::before {
        position: absolute;
        left: 23px;
        content: "";
        width: 74px;
        height: 27px;
        background-image: url("../../img/title-picture.png");
    }

    &__title::after {
        position: absolute;
        left: 227px;
        content: "";
        width: 74px;
        height: 27px;
        background-image: url("../../img/title-picture.png");       
        transform: scale(-1, 1)
    }
    &__list {        
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    &__card {    
        margin-bottom: 74px;        
        border-radius: 10px;
        box-shadow: 0 4px 29px rgba(0, 0, 0, 0.08);
        overflow: hidden;
    }

    &__card--roll {
        padding-top: 16px;
    }

    &__card--wok {
        padding-top: 35px;
    }
   
    &__card img {
        width: 227px;
        height: 214px;
        object-fit: cover;
    }

    &__card--roll img {
        width: 182px;
        height: 182px;
        display: block;
        margin: 0 auto;
    }  

    &__card--wok img {
        width: 146px;
        height: 146px;
        display: block;
        margin: 0 auto;

    }  
    
    &__name {
        margin-top: 19px;
        margin-bottom: 23px;
        font-family: $second-font;
        font-size: 20px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 28.43px;
        text-align: center;
    }

    &__quantity {
        margin-bottom: 25px;
        font-family: $second-font;
        font-size: 12px;
        font-style: normal;
        letter-spacing: normal;
        line-height: 20px;
        text-align: center;
        font-weight: 300;
    }

    &__price { 
        margin-bottom: 29px;
        padding: 0 18px;
        display: flex;    
        justify-content: space-between;   
        font-family: $second-font;
        font-size: 22px;
        font-style: normal;
        letter-spacing: normal;
        line-height: 28.43px;
        font-weight: 700;        
    }
    &__total {
        font-family: $third-font;
    }

    &__buttons {
        margin: 0;  
        display: inline-block;      
    }

    &__price-decrease,
    &__price-increase {       
        margin: 0;
        padding: 0;
        width: 13px; 
        height: 13px;              
        font-size: 10px;                
        font-weight: 700;
        border-radius: 50%;
        border-width: 1px;
    } 

    &__topping-buttons {
        display: flex;
        justify-content: space-between;
        margin-left: 17px;
        margin-right: 20px;
        margin-bottom: 14px;
        font-family: $second-font;
        font-size: 14px;
        font-weight: 300;
    }

    &__topping-buttons input {        
        width: 40px;
        height: 20px;
        background-color: #f2f2f2;
        border-radius: 3px;
        border: none;
    }

    &__topping {
        margin-left: 17px;
        margin-bottom: 31px;
        font-family: $second-font;
        font-size: 14px;
        font-weight: 300;
    }

    &__topping select {
        padding-left: 8px;        
        width: 185px;
        height: 25px;
        background-color: #f2f2f2;
        border-radius: 3px;
        border: none;
    }

    &__add-button {    
        width: 19px;
        height: 19px;
        padding: 0;
        background-color: #fd4f10;        
        color: #ffffff;
        border-radius: 3px; 
        border: none;
    }


    &__amount {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 14px;        
        font-weight: 400;
    }

    &__button {
        padding: 0;
        margin-left: 17px;
        margin-bottom: 34px;
        width: 195px;
        height: 41px;
        border: none;
        border-radius: 5px;
        background-color: #fd4f10;
        color: #ffffff;
        font-family: $second-font;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 28.43px;
        text-transform: uppercase;
        position: relative;
        
    }

    &__button::after {
        width: 22px;
        height: 20px;
        content: "";
        background: url("../../img/bx-cart.svg") no-repeat;
        position: absolute;
        left: 150px;
    }   
   
}