.page-header {   
  width: 320px;
  min-height: 56px;
  margin: 0 auto;
  position: relative;
  

  &__logo {
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 50%;    
    transform: translateX(-50%);
  }
}
