.show-more-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;    
    width: 292px;
    height: 41px;
    background-color: #ffffff;
    border: 1px solid #fd4f10;
    border-radius: 5px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #fd4f10;
    font-family: $second-font;
}