.user-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;   

    &__toggle {
        margin: 0;
        padding: 0;
        width: 20px;
        height: 2px;
        border: none;
        background-color: #4ec83d;
        box-shadow: 0 6px 0 0 #4ec83d, 0 -6px 0 0 #4ec83d;
        margin-left: 15px;
    }   

    &__list {
        width: 65px; 
        margin-right: 16px;
        padding: 0;
        display: flex;
        justify-content: space-between;              
        list-style-type: none;
    }
    
    &__item {        
        width: 22px;
        height: 22px;   
        margin: 0;
        padding: 0;
                  
    }  
}
