<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="HTML5 webpack boilerplate" />
    <title>Доставка суши "Миюши"</title>
    <link rel="stylesheet" href="/vendors/normalize-css/normalize.min.css" />
    <link rel="stylesheet" href="/css/style.min.css"/>   
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    
  </head>
  <body>
    <header class="page-header">      
      <a class="page-header__logo">        
        <img src="img/miyushi_logo_168.png" width="46" height="46" class="page-header__logo-image">
      </a>
      <nav class="main-nav">
        <button class="main-nav__toggle" type="button"><span class="visually-hidden">Открыть меню</span></button>
        <div class="main-nav__wrapper">
          <ul class="main-nav__list site-list">          
            <li class="site-list__item">
              <a href="#">Меню</a>
            </li>
            <li class="site-list__item">
              <a href="#">Акции и скидки</a>
            </li>
            <li class="site-list__item">
              <a href="#">Доставка и оплата</a>
            </li>
            <li class="site-list__item">
              <a href="#">Новости</a>
            </li>
            <li class="site-list__item">
              <a href="#">Контакты</a>
            </li>
          </ul>
         
        </div>
        <ul class="main-nav__list">
          <li class="main-nav__item main-nav__item--login">            
            <a class="" href=""><span class="visually-hidden">Войти в личный кабинет</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#1fba0a" viewBox="0 0 22 22"><circle fill="none" cx="12" cy="7" r="3"/><path d="M12 2C9.243 2 7 4.243 7 7s2.243 5 5 5 5-2.243 5-5S14.757 2 12 2zM12 10c-1.654 0-3-1.346-3-3s1.346-3 3-3 3 1.346 3 3S13.654 10 12 10zM21 21v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h2v-1c0-2.757 2.243-5 5-5h4c2.757 0 5 2.243 5 5v1H21z"/></svg>
              
            </a>
          </li>
          <li class="main-nav__item main-nav__item--cart">
            <a class="" href=""><span class="visually-hidden">Корзина</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#1fba0a" viewBox="0 0 22 22"><path d="M21.822,7.431C21.635,7.161,21.328,7,21,7H7.333L6.179,4.23C5.867,3.482,5.143,3,4.333,3H2v2h2.333l4.744,11.385 C9.232,16.757,9.596,17,10,17h8c0.417,0,0.79-0.259,0.937-0.648l3-8C22.052,8.044,22.009,7.7,21.822,7.431z M17.307,15h-6.64 l-2.5-6h11.39L17.307,15z"/><circle cx="10.5" cy="19.5" r="1.5"/><circle cx="17.5" cy="19.5" r="1.5"/></svg>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="content">
      <section class="special-offers swiper-container">
        <h3 class="visually-hidden">Специальные предложения</h3>
        <ul class="special-offers__list swiper-wrapper">
          <li class="special-offers__item swiper-slide">
            <p class="special-offers__title">Счастливые часы</p> 
            <img src="img/special.jpg"   alt="">
            <p class="special-offers__text">Скидка 15%</p>
          </li>
          <li class="special-offers__item swiper-slide">
            <p class="special-offers__title">Счастливые часы</p> 
            <img src="img/special.jpg"  alt="">
            <p class="special-offers__text">Скидка 15%</p>
          </li>
          <li class="special-offers__item swiper-slide">
            <p class="special-offers__title">Счастливые часы</p> 
            <img src="img/special.jpg"   alt="">
            <p class="special-offers__text">Скидка 15%</p>
          </li>
        </ul>
        <div class="special-offers__toggles swiper-pagination"></div>            
      </section>
      <section class="menu-item swiper-container">
        
        <h2 class="menu-item__title">Сеты</h2>
        <ul class="menu-item__list swiper-wrapper">
          <li class="menu-item__card swiper-slide slide">            
            <img src="img/set-5.jpg">
            <p class="menu-item__name">Минисет №5</p>
            <p class="menu-item__quantity">24 шт. | 960 г. | 800 Kkal</p>
            <div class="menu-item__price"><span class="menu-item__total">510 <sup>руб.</sup></span>
              <p class="menu-item__buttons">
                <button class="menu-item__price-decrease">-</button>
                <span class="menu-item__amount">1</span>
                <button class="menu-item__price-increase">+</button>
              </p>                            
            </div>
            <button class="menu-item__button">В корзину</button>          
          </li>
          <li class="menu-item__card swiper-slide">
            <img src="img/set-10.jpg">
            <p class="menu-item__name">Сет №10</p>            
            <p class="menu-item__quantity">72 шт. | 1560 г. | 1700 Kkal</p>
            <div class="menu-item__price"><span class="menu-item__total">2 050 <sup>руб.</sup> </span>
              <p class="menu-item__buttons">
                <button class="menu-item__price-decrease">-</button>
                <span class="menu-item__amount">1</span>
                <button class="menu-item__price-increase">+</button>
              </p>              
            </div>
            <button class="menu-item__button">В корзину</button>
          </li>
          <li class="menu-item__card swiper-slide">
            <img src="img/set-2.jpg">
            <p class="menu-item__name">Сет №2</p>
            
            <p class="menu-item__quantity">36 шт. | 1960 г. | 1800 Kkal</p>
            <div class="menu-item__price"><span class="menu-item__total">2 510 <sup>руб.</sup></span>
              <p class="menu-item__buttons">
                <button class="menu-item__price-decrease">-</button>
                <span class="menu-item__amount">1</span>
                <button class="menu-item__price-increase">+</button>
              </p>              
            </div>
            <button class="menu-item__button">В корзину</button>
          </li>
          <li class="menu-item__card swiper-slide">
            <img src="img/set-8.jpg">
            <p class="menu-item__name">Сет №8</p>
            <p class="menu-item__quantity">24 шт. | 960 г. | 800 Kkal</p>
            <div class="menu-item__price"><span class="menu-item__total">1 590 <sup>руб.</sup></span>
              <p class="menu-item__buttons">
                <button class="menu-item__price-decrease">-</button>
                <span class="menu-item__amount">1</span>
               <button class="menu-item__price-increase">+</button>
              </p>            
            </div>
            <button class="menu-item__button">В корзину</button>
          </li>
          <li class="menu-item__card swiper-slide">
            <img src="img/set-6.jpg">
            <p class="menu-item__name">Сет №6</p>
            <p class="menu-item__quantity">16 шт. | 460 г. | 490 Kkal</p>
            <div class="menu-item__price"><span class="menu-item__total">400 <sup>руб.</sup></span>
              <p class="menu-item__buttons">
                <button class="menu-item__price-decrease">-</button>
                <span class="menu-item__amount">1</span>
                <button class="menu-item__price-increase">+</button>
              </p>              
            </div>
            <button class="menu-item__button">В корзину</button>
          </li>
        </ul>
      </section>
      <section class="menu-item swiper-container">        
        <h2 class="menu-item__title">Роллы</h2>
        <ul class="menu-item__list swiper-wrapper">
          <li class="menu-item__card menu-item__card--roll swiper-slide slide">            
            <img src="img/kunsei_batakon.jpg">
            <p class="menu-item__name">Кунсей батакон</p>
            <p class="menu-item__quantity">8 шт. | 250 г. | 350 Kkal</p>
            <div class="menu-item__price"><span class="menu-item__total">260 <sup>руб.</sup></span>
              <p class="menu-item__buttons">
                <button class="menu-item__price-decrease">-</button>
                <span class="menu-item__amount">1</span>
                <button class="menu-item__price-increase">+</button>
              </p>                            
            </div>
            <button class="menu-item__button">В корзину</button>          
          </li>
          <li class="menu-item__card menu-item__card--roll swiper-slide">
            <img src="img/unagi_diru.jpg">
            <p class="menu-item__name">Унаги диру</p>            
            <p class="menu-item__quantity">8 шт. | 960 г. | 800 Kkal</p>
            <div class="menu-item__price"><span class="menu-item__total">280 <sup>руб.</sup> </span>
              <p class="menu-item__buttons">
                <button class="menu-item__price-decrease">-</button>
                <span class="menu-item__amount">1</span>
                <button class="menu-item__price-increase">+</button>
              </p>              
            </div>
            <button class="menu-item__button">В корзину</button>
          </li>
          <li class="menu-item__card menu-item__card--roll swiper-slide">
            <img src="img/filadelfiya.jpg">
            <p class="menu-item__name">Филадельфия</p>            
            <p class="menu-item__quantity">8 шт. | 450 г. | 400 Kkal</p>
            <div class="menu-item__price"><span class="menu-item__total">280 <sup>руб.</sup></span>
              <p class="menu-item__buttons">
                <button class="menu-item__price-decrease">-</button> 
                <span class="menu-item__amount">1</span>
                <button class="menu-item__price-increase">+</button>
              </p>              
            </div>
            <button class="menu-item__button">В корзину</button>
          </li>
          <li class="menu-item__card menu-item__card--roll swiper-slide">
            <img src="img/mexica.jpg">
            <p class="menu-item__name">Мексиканский</p>
            <p class="menu-item__quantity">8 шт. | 460 г. | 490 Kkal</p>
            <div class="menu-item__price"><span class="menu-item__total">290 <sup>руб.</sup></span>
              <p class="menu-item__buttons">
                <button class="menu-item__price-decrease">-</button>
                <span class="menu-item__amount">1</span>
               <button class="menu-item__price-increase">+</button>
              </p>            
            </div>
            <button class="menu-item__button">В корзину</button>
          </li>
          <li class="menu-item__card menu-item__card--roll swiper-slide">
            <img src="img/sashimi.png">
            <p class="menu-item__name">Сашими Макисузи</p>
            <p class="menu-item__quantity">8 шт. | 400 г. | 400 Kkal</p>
            <div class="menu-item__price"><span class="menu-item__total">250 <sup>руб.</sup></span>
              <p class="menu-item__buttons">
                <button class="menu-item__price-decrease">-</button>
                <span class="menu-item__amount">1</span>
                <button class="menu-item__price-increase">+</button>
              </p>              
            </div>
            <button class="menu-item__button">В корзину</button>
          </li>
        </ul>
      </section>
      <section class="menu-item swiper-container">        
        <h2 class="menu-item__title">Пицца</h2>
        <ul class="menu-item__list swiper-wrapper">
          <li class="menu-item__card swiper-slide slide">            
            <img src="img/bavarskaya.jpg">
            <p class="menu-item__name">Баварская</p>
            <p class="menu-item__quantity">33 см | 680 г. | 1350 Kkal</p>
            <div class="menu-item__price"><span class="menu-item__total">480 <sup>руб.</sup></span>
              <p class="menu-item__buttons">
                <button class="menu-item__price-decrease">-</button>
                <span class="menu-item__amount">1</span>
                <button class="menu-item__price-increase">+</button>
              </p>                            
            </div>
            <button class="menu-item__button">В корзину</button>          
          </li>
          <li class="menu-item__card swiper-slide">
            <img src="img/veganskaya.jpg">
            <p class="menu-item__name">Вегетарианская</p>            
            <p class="menu-item__quantity">33 см | 755 г. | 1800 Kkal</p>
            <div class="menu-item__price"><span class="menu-item__total">450 <sup>руб.</sup> </span>
              <p class="menu-item__buttons">
                <button class="menu-item__price-decrease">-</button>
                <span class="menu-item__amount">1</span>
                <button class="menu-item__price-increase">+</button>
              </p>              
            </div>
            <button class="menu-item__button">В корзину</button>
          </li>
          <li class="menu-item__card swiper-slide">
            <img src="img/pepperoni.jpg">
            <p class="menu-item__name">Пепперони</p>            
            <p class="menu-item__quantity">33 см | 615 г. | 1400 Kkal</p>
            <div class="menu-item__price"><span class="menu-item__total">450 <sup>руб.</sup></span>
              <p class="menu-item__buttons">
                <button class="menu-item__price-decrease">-</button>
                <span class="menu-item__amount">1</span>
                <button class="menu-item__price-increase">+</button>
              </p>              
            </div>
            <button class="menu-item__button">В корзину</button>
          </li>
          <li class="menu-item__card swiper-slide">
            <img src="img/classic.jpg">
            <p class="menu-item__name">Классическая</p>
            <p class="menu-item__quantity">33 см | 590 г. | 1490 Kkal</p>
            <div class="menu-item__price"><span class="menu-item__total">390 <sup>руб.</sup></span>
              <p class="menu-item__buttons">
                <button class="menu-item__price-decrease">-</button>
                <span class="menu-item__amount">1</span>
               <button class="menu-item__price-increase">+</button>
              </p>            
            </div>
            <button class="menu-item__button">В корзину</button>
          </li>
          <li class="menu-item__card swiper-slide">
            <img src="img/assorty.jpg">
            <p class="menu-item__name">Ассорти</p>
            <p class="menu-item__quantity">33 см | 650 г. | 1420 Kkal</p>
            <div class="menu-item__price"><span class="menu-item__total">450 <sup>руб.</sup></span>
              <p class="menu-item__buttons">
                <button class="menu-item__price-decrease">-</button>
                <span class="menu-item__amount">1</span>
                <button class="menu-item__price-increase">+</button>
              </p>              
            </div>
            <button class="menu-item__button">В корзину</button>
          </li>
        </ul>
      </section>
      <section class="menu-item swiper-container">        
        <h2 class="menu-item__title">WOK</h2>
        <ul class="menu-item__list swiper-wrapper">
          <li class="menu-item__card menu-item__card--wok swiper-slide slide">            
            <img src="img/chicken.jpg">
            <p class="menu-item__name">С курицей</p>
            <p class="menu-item__quantity menu-item__quantity--wok">400 г. | 1350 Kkal</p>
            <p class="menu-item__topping-buttons">
              <span>Добавить:</span>
              <input type="text" placeholder="+0">
              <span>0 <sup>руб.</sup></span>
              <button class="menu-item__add-button">+</button>
            </p>
            <p class="menu-item__topping">
              <select name="topping" id="topping">
                <option value="Chinise" selected>Китайский соус</option>
                <option value="Chili" >Чили соус</option>
                <option value="Teriyaki">Терияки</option>
              </select>
            </p>
            <div class="menu-item__price"><span class="menu-item__total">480 <sup>руб.</sup></span>
              <p class="menu-item__buttons">
                <button class="menu-item__price-decrease">-</button>
                <span class="menu-item__amount">1</span>
                <button class="menu-item__price-increase">+</button>
              </p>                            
            </div>
            <button class="menu-item__button">В корзину</button>          
          </li>
          <li class="menu-item__card menu-item__card--wok swiper-slide">
            <img src="img/beef.jpg">
            <p class="menu-item__name">С говядиной</p>            
            <p class="menu-item__quantity menu-item__quantity--wok">400 г. | 1350 Kkal</p>
            <p class="menu-item__topping-buttons">
              <span>Добавить:</span>
              <input type="text" placeholder="+0">
              <span>0 <sup>руб.</sup></span>
              <button class="menu-item__add-button">+</button>
            </p>
            <p class="menu-item__topping">
              <select name="topping" id="topping">
                <option value="Chinise" selected>Китайский соус</option>
                <option value="Chili" >Чили соус</option>
                <option value="Teriyaki">Терияки</option>
              </select>
            </p>
            <div class="menu-item__price"><span class="menu-item__total">450 <sup>руб.</sup> </span>
              <p class="menu-item__buttons">
                <button class="menu-item__price-decrease">-</button>
                <span class="menu-item__amount">1</span>
                <button class="menu-item__price-increase">+</button>
              </p>              
            </div>
            <button class="menu-item__button">В корзину</button>
          </li>
          <li class="menu-item__card menu-item__card--wok swiper-slide">
            <img src="img/vegetables.jpg">
            <p class="menu-item__name">С овощами</p>            
            <p class="menu-item__quantity menu-item__quantity--wok">400 г. | 1350 Kkal</p>
            <p class="menu-item__topping-buttons">
              <span>Добавить:</span>
              <input type="text" placeholder="+0">
              <span>0 <sup>руб.</sup></span>
              <button class="menu-item__add-button">+</button>
            </p>
            <p class="menu-item__topping">
              <select name="topping" id="topping">
                <option value="Chinise" selected>Китайский соус</option>
                <option value="Chili" >Чили соус</option>
                <option value="Teriyaki">Терияки</option>
              </select>
            </p>
            <div class="menu-item__price"><span class="menu-item__total">450 <sup>руб.</sup></span>
              <p class="menu-item__buttons">
                <button class="menu-item__price-decrease">-</button>
                <span class="menu-item__amount">1</span>
                <button class="menu-item__price-increase">+</button>
              </p>              
            </div>
            <button class="menu-item__button">В корзину</button>
          </li>
          <li class="menu-item__card menu-item__card--wok swiper-slide">
            <img src="img/seafood.jpg">
            <p class="menu-item__name">С морепродуктами</p>
            <p class="menu-item__quantity menu-item__quantity--wok">400 г. | 1350 Kkal</p>
            <p class="menu-item__topping-buttons">
              <span>Добавить:</span>
              <input type="text" placeholder="+0">
              <span>0 <sup>руб.</sup></span>
              <button class="menu-item__add-button">+</button>
            </p>
            <p class="menu-item__topping">
              <select name="topping" id="topping">
                <option value="Chinise" selected>Китайский соус</option>
                <option value="Chili" >Чили соус</option>
                <option value="Teriyaki">Терияки</option>
              </select>
            </p>
            <div class="menu-item__price"><span class="menu-item__total">390 <sup>руб.</sup></span>
              <p class="menu-item__buttons">
                <button class="menu-item__price-decrease">-</button>
                <span class="menu-item__amount">1</span>
               <button class="menu-item__price-increase">+</button>
              </p>            
            </div>
            <button class="menu-item__button">В корзину</button>
          </li>
          <li class="menu-item__card menu-item__card--wok swiper-slide">
            <img src="img/chicken.jpg">
            <p class="menu-item__name">Острый с курицей</p>
            <p class="menu-item__quantity menu-item__quantity--wok">400 г. | 1350 Kkal</p>
            <p class="menu-item__topping-buttons">
              <span>Добавить:</span>
              <input type="text" placeholder="+0">
              <span>0 <sup>руб.</sup></span>
              <button class="menu-item__add-button">+</button>
            </p>
            <p class="menu-item__topping">
              <select name="topping" id="topping">
                <option value="Chinise" selected>Китайский соус</option>
                <option value="Chili" >Чили соус</option>
                <option value="Teriyaki">Терияки</option>
              </select>
            </p>
            <div class="menu-item__price"><span class="menu-item__total">450 <sup>руб.</sup></span>
              <p class="menu-item__buttons">
                <button class="menu-item__price-decrease">-</button>
                <span class="menu-item__amount">1</span>
                <button class="menu-item__price-increase">+</button>
              </p>              
            </div>
            <button class="menu-item__button">В корзину</button>
          </li>
        </ul>
      </section>
      <section class="reasons">
        <h2 class="reasons__title">10 причин купить у нас</h2>
        <ul class="reasons__list">
          <li class="reasons__item reasons__item--hand-made ">100% ручная работа;</li>
          <li class="reasons__item reasons__item--rice">Мы используем только дорогой рис из Японии</li>
          <li class="reasons__item reasons__item--pizza">Вся пицца готовится из итальянской муки и Итальянского соуса</li>
          <li class="reasons__item reasons__item--fresh-ingridients">100% свежие ингредиенты</li>
          <li class="reasons__item reasons__item--filing">Больше начинки, меньше риса!</li>
          <li class="reasons__item reasons__item--quality">Постоянный контроль качества на всех этапах</li>
          <li class="reasons__item reasons__item--low-price">Самые низкие цены на рынке! (Нет ресторанной наценки)</li>
          <li class="reasons__item reasons__item--cucumber">Мы не заменяем авокадо огурцом!</li>
          <li class="reasons__item reasons__item--fresh-fish">Только охлажденная рыба (никакой заморозки)</li>
          <li class="reasons__item reasons__item--no-mayonnaise">Мы не используем майонез!</li>        
        </ul>
        <button class="reasons__button show-more-btn">Показать все</button>
      </section>
      <section class="user-contacts">
        <h2 class="user-contacts__title">Оставьте свои контакты</h2>
        <form action="" method="POST">
          <input type="text" name="username" value="">
          
          <input type="number" name="usertel" value="">
          <button type="submit">Отправить</button>
        </form>
      </section>
      <section class="about-company">
        <h2 class="about-company__title">О компании</h2>
        <p><b>Заказ и доставка роллов, пиццы и WOK(Вок) в городе
          Курск</b>
        </p>
        <p>Суши МИЮШИ открылись в октябре 2012г. и уже завоевали успех у тех, кто ценит японскую кухню и качественное приготовление блюд.</p>
        <p>С 2013 года мы осуществляем не только доставку на дом, теперь для вас открыт наш уютный небольшой зал. Придя сюда, вы сможете плотно пообедать, насладиться прекрасными напитками, посидеть с друзьями или обзавестись новыми знакомствами.</p>
        <p>Открывая зал, Мы преследовали цель предоставить своим посетителям максимум удобства и комфорта, поэтому, придя сюда в первый раз, вы почувствуете себя как рыба в воде, окунувшись в домашнюю и теплую обстановку!</p>
        <p>Особое внимание мы уделяем организации доставки суши и других блюд, которая осуществляется только по г.Мытищи. Четкая и слаженная работа курьеров позволяет максимально сократить время от приготовления блюда до его попадания на стол заказчику. Как правило, оно составляет от 20 до 60 минут в зависимости от местонахождения клиента. Операторы службы доставки всегда осведомлены обо всех изменениях времени доставки и предупреждают клиентов заранее, а при возможных серьезных задержках в связи с дорожной ситуацией предложат Вам альтернативу. Мы беремся только за ту работу, которую можем выполнить в срок.</p>
        <p>В меню суши МИЮШИ представлено все многообразие японской кухни. Классические суши, и роллы приготовлены в соответствии с традиционными рецептами. Для любителей нежных и тающих во рту блюд предлагаются роллы с мясом краба, а также для больших любителей копченого угря потрясающий ролл Дракон. Для желающих пробовать что-то новое и необычное – острые ГУНКАНЫ и новинка нашего меню - ИНАРИ, широкий выбор горячих роллов. Большим компаниям будет удобно заказать суши и роллы, объединенные в сеты, включающие сразу несколько видов каждого из этих блюд. Кроме того, меню суши МИЮШИ не ограничено только японской кухней, здесь всегда можно заказать горячие и холодные блюда ЛАПША или РИС WOK с различными мясными и рыбными наполнителями, салаты, горячие закуски и различные напитки.</p>
        <p>Оформив у нас заказ суши на дом, клиент может выбрать удобный ему способ оплаты: наличными при получении заказа или банковской картой VISA, MasterCard при заполнении специальной формы заказа на сайте или на дому через переносной терминал (заранее сообщив оператору о форме оплаты).</p>
        <p>Информацию по стоимости доставки и минимальной суммы заказа в отдаленные районы г. Мытищ можно уточнить у оператора по телефону.</p>
        <button class="show-more-btn">Показать еще</button>
      </section>
      
    </main>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
   <script src="js/script.js"></script>
  </body>
</html>
